{% extends 'base.html' %}

{% block title %}Гречневая каша{% endblock %}

{% block content %}
    <h2 align="center">Гречневая каша</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/breakfasts/pics/buckwheat-porridge.jpg" alt="buckwheat porridge" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Крупа гречневая – 50г;</p>
            <p class="mb-0">• Вода – 0,5л;</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Промыть гречку, залить водой, посолить.<br>
            <b>2</b> Варить на медленном огне пока не выкипит вода. Можно подать с маслом, изюмом, ягодами. <br>
            <b>3</b> Можно поджарить на сковороде с яйцом.<br>
        </p>
    </div>
{% endblock %}