{% extends 'base.html' %}

{% block title %}Кукурузная каша{% endblock %}

{% block content %}
    <h2 align="center">Кукурузная каша</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/breakfasts/pics/cornporridge.jpg" alt="cornporridge" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Кукурузная крупа - 50 г;</p>
            <p class="mb-0">• Вода - 200 мл;</p>
            <p class="mb-0">• Молоко - 100 мл;</p>
            <p class="mb-0">• Соль;</p>
            <p class="mb-0">• Сливочное масло - 15 г.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Промыть кукурузную крупу под проточной водой, пока вода не станет прозрачной.
            В кастрюлю влить воду и всыпать крупу. Довести до кипения.<br>
            <b>2</b> Когда вода закипит, убавить огонь и варить 30 минут помешивая.<br>
            <b>3</b> Когда каша загустеет, влить к ней горячее молоко, добавить соль и варить, помешивая, еще 5–10 минут.<br>
            <b>4</b> В конце добавить в кашу сливочное масло и перемешать, можно добавить изюм и ягоды.
        </p>
    </div>
{% endblock %}