{% extends 'base.html' %}

{% block title %}Яичница{% endblock %}

{% block content %}
    <h2 align="center">Яичница</h2>
    <div class="row mt-5">
        <div class="col-md-3">
            <img src="../static/pic/food/breakfasts/pics/friedEgg.jpg" alt="friedEgg" width="200">
        </div>
        <div class="col-md-9">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• 1–2 столовые ложки растительного масла или кусочек сливочного;</p>
            <p class="mb-0">• 1 или несколько яиц;</p>
            <p class="mb-0">• соль — по вкусу.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Слегка прогрейте сковородку. Влейте растительное масло или растопите сливочное.<br>
        <b>2</b> Аккуратно добавьте яйца. Можно разбить их сразу над сковородой или же в небольшую отдельную ёмкость, перелив затем в сковороду. Жарить яичницу на медленном огне 4–5 минут.
        </p>
    </div>
{% endblock %}