{% extends 'base.html' %}

{% block title %}Омлет{% endblock %}

{% block content %}
    <h2 align="center">Омлет</h2>
    <div class="row mt-5">
        <div class="col-md-3">
            <img src="../static/pic/food/breakfasts/pics/omelet.jpg" alt="omelet" width="200">
        </div>
        <div class="col-md-9">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Яйца - 2 шт.;</p>
            <p class="mb-0">• Молоко - 100 мл;</p>
            <p class="mb-0">• Соль;</p>
            <p class="mb-0">• Масло сливочное (для смазывания формы) - 5 г.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> В среднем на 1 куриное яйцо среднего размера берется 50 мл молока.
            Соединяем яйца с молоком, солим, перемешиваем вилкой до однородности, выливаем на сковороду.<br>
            <b>2</b> Готовим омлет в духовке, разогретой до 200 градусов, 30 минут. Либо на плите на медленном огне под закрытой крышкой, либо в мультиварке.
        </p>
    </div>
{% endblock %}