{% extends 'base.html' %}

{% block title %}Каша овсяная{% endblock %}

{% block content %}
    <h2 align="center">Каша овсяная</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/breakfasts/pics/porrige.jpg" alt="porrige" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Молоко  - ¾ стакана;</p>
            <p class="mb-0">• Овсяные хлопья - ¼ стакана;</p>
            <p class="mb-0">• Сливочное масло 10 г;</p>
            <p class="mb-0">• Соль по вкусу.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Нагреваем в кастрюльке молоко.<br>
            <b>2</b> Как только молоко закипело, добавляем соль, сахар.<br>
            <b>3</b> Засыпаем хлопья или цельные зерна крупы.<br>
            <b>4</b> Далее варим кашу на среднем огне, постоянно помешивая. Время приготовления зависит от выбранного сорта овсянки.
            Для геркулесовых хлопьев потребуется 10 минут после закипания, для цельных зерен 30 минут.<br>
            <b>5</b> Когда каша будет готова, добавляем масло, размешиваем и даем постоять еще 5 минут. Добавляем свежие
            или мороженые ягоды, изюм, орехи или вяленую клюкву.
        </p>
    </div>
{% endblock %}