{% extends 'base.html' %}

{% block title %}Пшенная каша/запеканка{% endblock %}

{% block content %}
    <h2 align="center">Пшенная каша с тыквой/запеканка</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <img src="../static/pic/food/breakfasts/pics/pumpkin.jpg" alt="pumpkin" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Тыква - 60 г;</p>
            <p class="mb-0">• Пшено - ¼ стакана;</p>
            <p class="mb-0">• Молоко - 150 мл;</p>
            <p class="mb-0">• Соль;</p>
            <p class="mb-0">• Корица.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Тыкву чистим от кожуры и нарезаем небольшими кубиками — не более 1–2 см. Кладем в кастрюлю,
            заливаем водой — не сильно, чтобы тыква была немного закрыта водой. И варим на среднем огне в течение пяти минут.<br>
            <b>2</b> Затем добавляем пшено и продолжаем варить, периодически помешивая, пока вся вода не впитается в крупу. Тыква к этому
            времени уже станет мягкой, и кубики можно ложкой измельчить прямо в кастрюле (по крайней мере мне больше
            нравится более однородная консистенция каши).<br>
            <b>3</b> Выливаем в нашу будущую кашу стакан молока, уменьшаем огонь до самого слабого и продолжаем варить, не
            переставая помешивать — иначе молоко рискует легко пригореть. Когда молоко наполовину исчезнет, добавляем
            оставшуюся часть, вместе с этим добавляем сахар (в моем случае, кстати, это был порошок стевии) и соль и
            продолжаем варить, все время помешивая. На это уйдет еще минут 15–20.
            <br>
            Если вместо каши хочется сделать запеканку,  в остывшую кашу надо добавить 1 яйцо, перемешать и поставить в
            духовку на 30 мин, или на выпечку в мультиварку. Готовое блюдо можно подавать с изюмом, ягодами, орешками.

        </p>
    </div>
{% endblock %}