{% extends 'base.html' %}

{% block title %}Тушеная капуста с фаршем{% endblock %}

{% block content %}
    <h2 align="center">Тушеная капуста с фаршем</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/dinners/pics/cabbage.jpg" alt="cabbage" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Мясной фарш;</p>
            <p class="mb-0">• морковь;</p>
            <p class="mb-0">• лук;</p>
            <p class="mb-0">• растительное масло;</p>
            <p class="mb-0">• капуста.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Порезать мелко лук и морковь, обжарить до золотистого цвета на сковороде, добавить фарш,
            перемешать, потушить до готовности, посолить.  <br>
            <b>2</b> Капусту мелко нашинковать, сложить в сковороду и под крышкой потушить до готовности. <br>
        </p>
    </div>
{% endblock %}