{% extends 'base.html' %}

{% block title %}Картофель по-деревенски с куриной ножкой{% endblock %}

{% block content %}
    <h2 align="center">Картофель по-деревенски с куриной ножкой</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/dinners/pics/chicken.jpg" alt="chicken" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Картофель;</p>
            <p class="mb-0">• соль;</p>
            <p class="mb-0">• растительное масло;</p>
            <p class="mb-0">• куриные ножки.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Берем картофель и очищаем его. <br>
            <b>2</b> Далее, очищенный картофель разрезаем на 8 частей.
Кладем в кастрюлю с водой и ставим на огонь. <br>
            <b>3</b> Как только вода закипит, отключаем и сливаем воду. <br>
            <b>4</b> Разогреваем духовку на 180 градусов. Раскладываем картофель на противень.
Поливаем картофель растительным маслом. Ставим минут на 40, или более, ждем, когда картофель подрумянится.
 <br>
            <b>5</b> Куриные ножки выкладываем на сковороду, солим и тушим на медленном огне до готовности. <br>
        </p>
    </div>
{% endblock %}