{% extends 'base.html' %}

{% block title %}Ежики с рисом{% endblock %}

{% block content %}
    <h2 align="center">Ежики с рисом</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/dinners/pics/ezhiki.jpg" alt="ezhiki" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Вода - 250 мл;</p>
            <p class="mb-0">• Репчатый лук - ½ головки;</p>
            <p class="mb-0">• Мясной фарш - 250 г;</p>
            <p class="mb-0">• Рис - ¼ стакана;</p>
            <p class="mb-0">• Соль - по вкусу;</p>
            <p class="mb-0">• Растительное масло -  2 чайные ложки;</p>
            <p class="mb-0">• Рисовая мука - 2 чайные ложки.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Репчатый лук очистить, мелко нарезать и смешать с фаршем и рисом, посолить. <br>
            <b>2</b> Сформировать из фарша шарики диаметром 5 см и обжарить в глубоком сотейнике на растительном масле 5-7 мин. <br>
            <b>3</b> В сотейник с ежиками добавить воду, муку и соль, тщательно перемешать и тушить на среднем огне 20-30 мин. <br>
        </p>
    </div>
{% endblock %}