{% extends 'base.html' %}

{% block title %}Картофельное пюре с рыбой{% endblock %}

{% block content %}
    <h2 align="center">Картофельное пюре с рыбой</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/dinners/pics/fish.jpg" alt="fish" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Картофель;</p>
            <p class="mb-0">• соль;</p>
            <p class="mb-0">• любая рыба по вкусу.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Картофель почистить и сварить  в подсоленной воде до готовности. Слить воду так, чтобы
            одна четверть объема картофеля осталась в кастрюле, подавить толкушкой, хорошо перемешать. Можно добавить сливочное масло. <br>
            <b>2</b> Рыбу почистить, выпотрошить, нарезать кусками, посолить. Куски обжарить на масле 5 минут с одной стороны и 3–4 минуты с другой. <br>
        </p>
    </div>
{% endblock %}