{% extends 'base.html' %}

{% block title %}Картофельное пюре с тефтельками{% endblock %}

{% block content %}
    <h2 align="center">Картофельное пюре с тефтельками</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/dinners/pics/mushrooms.jpg" alt="mushrooms" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Картофель;</p>
            <p class="mb-0">• соль;</p>
            <p class="mb-0">• мясной фарш;</p>
            <p class="mb-0">• лук;</p>
            <p class="mb-0">• чеснок;</p>
            <p class="mb-0">• черный перец;</p>
            <p class="mb-0">• томатная паста.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Картофель почистить и сварить  в подсоленной воде до готовности. Слить воду так, чтобы
            одна четверть объема картофеля осталась в кастрюле, подавить толкушкой, хорошо перемешать. Можно добавить сливочное масло. <br>
            <b>2</b> Добавить шампиньоны, пожарить вместе, посолить. <br>
            <b>3</b> Фарш посолить, поперчить, добавить измельченный лук и чеснок. Сформировать шарики, слегка обжарить
            на сковороде, залить водой, чтобы тефтельки были покрыты, посолить, добавить 1 столовую ложку томатной пасты, и тушить до готовности. <br>
        </p>
    </div>
{% endblock %}