{% extends 'base.html' %}

{% block title %}Гречка с грибами{% endblock %}

{% block content %}
    <h2 align="center">Гречка с грибами</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/dinners/pics/mushrooms.jpg" alt="mushrooms" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Гречневая крупа - 160 г;</p>
            <p class="mb-0">• Вода - 350 мл;</p>
            <p class="mb-0">• Репчатый лук - ½ головки;</p>
            <p class="mb-0">• Шампиньоны - 150 г;</p>
            <p class="mb-0">• Растительное масло - 50 мл;</p>
            <p class="mb-0">• Соль.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Порезать мелко лук, обжарить до золотистого цвета на сковороде. <br>
            <b>2</b> Добавить шампиньоны, пожарить вместе, посолить. <br>
            <b>3</b> Сварить гречку, добавить туда шампиньоны. Перемешать и подавать на стол. <br>
        </p>
    </div>
{% endblock %}