{% extends 'base.html' %}

{% block title %}Рис с курицей и овощами{% endblock %}

{% block content %}
    <h2 align="center">Рис с курицей и овощами</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/dinners/pics/plov.jpg" alt="plov" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Рис – 200г;</p>
            <p class="mb-0">• Куриное филе – 400г;</p>
            <p class="mb-0">• Лук – 1шт;</p>
            <p class="mb-0">• Морковь – 1шт;</p>
            <p class="mb-0">• Растительное масло 2 ст.л.;</p>
            <p class="mb-0">• Вода – 400г.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Порезать мелко лук и морковь, обжарить до золотистого цвета на сковороде. <br>
            <b>2</b> Добавить порезанное куриное филе, потушить минут 10. <br>
            <b>3</b> Добавить промытый рис, залить водой и тушить на медленном огне до готовности. <br>
        </p>
    </div>
{% endblock %}