{% extends 'base.html' %}

{% block title %}Шарлотка из рисовой муки{% endblock %}

{% block content %}
    <h2 align="center">Шарлотка из рисовой муки</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/desserts/pics/applepie.jpg" alt="applepie" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Рисовая мука – 200г;</p>
            <p class="mb-0">• Кефир – 200 мл;</p>
            <p class="mb-0">• Сахар – 100 г;</p>
            <p class="mb-0">• Яблоки – 2 шт.;</p>
            <p class="mb-0">• Яйцо – 2 шт.;</p>
            <p class="mb-0">• Сода пищевая – 0,5 ч.л.;</p>
            <p class="mb-0">• Соль – щепотка.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Взбить яйца с сахаром, добавить кефир, муку, соду, соль. Тщательно перемешать.<br>
            <b>2</b> В форму выложить нарезанные яблоки, залить тестом, поставить в духовку при 180 градусах по полчаса.<br>
        </p>
    </div>
{% endblock %}