{% extends 'base.html' %}

{% block title %}Овсяное печенье{% endblock %}

{% block content %}
    <h2 align="center">Овсяное печенье</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/desserts/pics/cookies.jpg" alt="cookies" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Яйцо – 1 шт.;</p>
            <p class="mb-0">• Овсяные хлопья – 200г;</p>
            <p class="mb-0">• Сливочное масло – 100г;</p>
            <p class="mb-0">• Сахар – 60г (можно мед по вкусу);</p>
            <p class="mb-0">• Сода – 1 ч.л.;</p>
            <p class="mb-0">• Ванильный сахар 1 – ч.л.;</p>
            <p class="mb-0">• Соль – щепотка.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Яйцо с сахаром взбить, добавить ванильный сахар, соль и растопленное масло.<br>
            <b>2</b> Добавить хлопья, соду.<br>
            <b>3</b> Готовить в духовке при 180 градусах примерно 15 минут.<br>
        </p>
    </div>
{% endblock %}