{% extends 'base.html' %}

{% block title %}Кукурузное печенье (соленое){% endblock %}

{% block content %}
    <h2 align="center">Кукурузное печенье (соленое)</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/desserts/pics/cornbiscuits.jpg" alt="cornbiscuits" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Мука кукурузная – 110 г;</p>
            <p class="mb-0">• Разрыхлитель – 3 г;</p>
            <p class="mb-0">• Соль – щепотка;</p>
            <p class="mb-0">• Яйцо куриное – 1 шт.;</p>
            <p class="mb-0">• Масло сливочное – 50 г;</p>
            <p class="mb-0">• Сыр – 60 г.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Добавить в мучную смесь натертый на мелкой терке сыр, яйцо, масло, соль, соду. <br>
            <b>2</b> Тщательно вымешайте. <br>
            <b>3</b> Сформируйте небольшие шарики, выпекайте в разогретой до 180 градусов минут 13-15.<br>
        </p>
    </div>
{% endblock %}