{% extends 'base.html' %}

{% block title %}Овсяноблины{% endblock %}

{% block content %}
    <h2 align="center">Овсяноблины</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/desserts/pics/pancakes.jpg" alt="pancakes" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Яйца – 2 шт.;</p>
            <p class="mb-0">• Овсяные хлопья – 3 ст.л.;</p>
            <p class="mb-0">• Сливочное масло – 20г;</p>
            <p class="mb-0">• Молоко – 2 ст.л.;</p>
            <p class="mb-0">• Мед – 2 ст.л.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Яйца взбить с теплым молоком.<br>
            <b>2</b> Добавить мед, овсяные хлопья. Перемешать.<br>
            <b>3</b> Готовить на сковороде, обжаривать каждый блин с каждой стороны в течение 2-3 минут.<br>
        </p>
    </div>
{% endblock %}