{% extends 'base.html' %}

{% block title %}Пицца{% endblock %}

{% block content %}
    <h2 align="center">Пицца</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/desserts/pics/pizza.jpg" alt="pizza" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Куриные грудки – 2 шт;</p>
            <p class="mb-0">• Яйца – 3шт;</p>
            <p class="mb-0">• Овсяные хлопья быстрого приготовления – 3 ст.л.;</p>
            <p class="mb-0">• Молоко – 100 мл;</p>
            <p class="mb-0">• На начинку: грибы, помидоры, броколли, красный перец.</p>
            <p class="mb-0">• Сыр – 60 г.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b>  2 куриные грудки прокрутить через мясорубку, посолить, поперчить, добавить 3 яйца,
            100 мл молока, 3 ст.л. овсяных хлопьев быстрого приготовления. <br>
            <b>2</b> Фарш распределить в форме круга на противенне, поставить в духовку на 15 мин, чтобы корж слегка запекся.  <br>
            <b>3</b> Достать,  смазать томатным соусом.<br>
            <b>4</b> На начинку нарезать помидоры, болгарский  перец, брокколи, грибы, посыпать сыром. И поставить в духовку еще на 20 минут при 220 градусах.<br>
        </p>
    </div>
{% endblock %}