{% extends 'base.html' %}

{% block title %}Овсяный пирог со сметаной{% endblock %}

{% block content %}
    <h2 align="center">Овсяный пирог со сметаной</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/desserts/pics/porr_cake.jpg" alt="porr_cake" width="260">
        </div>
        <div class="col-md-4">
            <p class="mb-0"><b>Ингредиенты для теста</b></p>
            <p class="mb-0">• Мука – 150г;</p>
            <p class="mb-0">• Овсянка – 100г;</p>
            <p class="mb-0">• Сливочное масло – 100г;</p>
            <p class="mb-0">• Сахар – 60г;</p>
            <p class="mb-0">• Сода – 0,5 ч.л.;</p>
            <p class="mb-0">• Соль – щепотка.</p>
        </div>
        <div class="col-md-4">
            <p class="mb-0"><b>Ингредиенты для крема</b></p>
            <p class="mb-0">• Сметана – 400г;</p>
            <p class="mb-0">• Яйца – 2 шт.;</p>
            <p class="mb-0">• Сахар – 120г;</p>
            <p class="mb-0">• Ванилин.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Приготовить тесто: измельчить все ингредиенты, перетереть в крошку.<br>
            <b>2</b> Смешать ингредиенты для крема.<br>
            <b>3</b> Высыпать тесто слоями: на каждый слой выкладывать крем, сверху присыпать тестом.<br>
            <b>4</b> Готовить в духовке при 180 градусах.<br>
        </p>
    </div>
{% endblock %}