{% extends 'base.html' %}

{% block title %}Завтраки{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Завтраки</h1>
    </div>
    <div class="row">
        <a href="/breakfasts/fried-egg" class="button"><button class="image-buttonb_fe"> </button></a>
    </div>
    <div class="row">
        <a href="/breakfasts/omelet" class="button"><button class="image-buttonb_om"> </button></a>
    </div>
    <div class="row">
        <a href="/breakfasts/pumpkin" class="button"><button class="image-buttonb_pm"> </button></a>
    </div>
    <div class="row">
        <a href="/breakfasts/porridge" class="button"><button class="image-buttonb_pr"> </button></a>
    </div>
    <div class="row">
        <a href="/breakfasts/cottage-cheese-pancakes" class="button"><button class="image-buttonb_ccp"> </button></a>
    </div>
    <div class="row">
        <a href="/breakfasts/cottage-cheese" class="button"><button class="image-buttonb_cc"> </button></a>
    </div>
    <div class="row">
        <a href="/breakfasts/cornporridge" class="button"><button class="image-buttonb_cp"> </button></a>
    </div>
    <div class="row">
        <a href="/breakfasts/buckwheat-porridge" class="button"><button class="image-buttonb_bp"> </button></a>
    </div>
{% endblock %}