{% extends 'base.html' %}

{% block title %}Десерты{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Десерты</h1>
    </div>
    <div class="row">
        <a href="/desserts/healthy_conf" class="button"><button class="image-buttondes_cf"> </button></a>
    </div>
    <div class="row">
        <a href="/desserts/pancakes" class="button"><button class="image-buttondes_pn"> </button></a>
    </div>
    <div class="row">
        <a href="/desserts/porr_cake" class="button"><button class="image-buttondes_pc"> </button></a>
    </div>
    <div class="row">
        <a href="/desserts/cookies" class="button"><button class="image-buttondes_cs"> </button></a>
    </div>
    <div class="row">
        <a href="/desserts/applepie" class="button"><button class="image-buttondes_ap"> </button></a>
    </div>
    <div class="row">
        <a href="/desserts/cornbiscuits" class="button"><button class="image-buttondes_cb"> </button></a>
    </div>
    <div class="row">
        <a href="/desserts/pizza" class="button"><button class="image-buttondes_pz"> </button></a>
    </div>
{% endblock %}