{% extends 'base.html' %}

{% block title %}Ужины{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Ужины</h1>
    </div>
    <div class="row">
        <a href="/dinners/cabbage" class="button"><button class="image-buttond_cb"> </button></a>
    </div>
    <div class="row">
        <a href="/dinners/chicken" class="button"><button class="image-buttond_ch"> </button></a>
    </div>
    <div class="row">
        <a href="/dinners/ezhiki" class="button"><button class="image-buttond_ez"> </button></a>
    </div>
    <div class="row">
        <a href="/dinners/fish" class="button"><button class="image-buttond_fs"> </button></a>
    </div>
    <div class="row">
        <a href="/dinners/meatballs" class="button"><button class="image-buttond_mb"> </button></a>
    </div>
    <div class="row">
        <a href="/dinners/mushrooms" class="button"><button class="image-buttond_ms"> </button></a>
    </div>
    <div class="row">
        <a href="/dinners/plov" class="button"><button class="image-buttond_pl"> </button></a>
    </div>
    <div class="row">
        <a href="/dinners/vegetables" class="button"><button class="image-buttond_vg"> </button></a>
    </div>
{% endblock %}