{% extends 'base.html' %}

{% block title %}Что исключить из рациона{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Что исключить из рациона</h1>
        <div class="row">
            <div class="col-md-9">
                <p align="justify" class="mb-0"><b>1</b> Йод, т.е морскую капусту и все продукты с повышенным содержанием йода.
                    К сожалению, часто именно избыточный йод является тем фактором, который запускает аутоиммунный процесс.
                    Недаром это заболевание называется тиреоидитом Хашимото. Именно японский доктор Хакару Хашимото задумался,
                    почему это в Японии так много людей с заболеванием щитовидной железы. Это странно, т.к. раньше такие
                    заболевании связывали именно с недостатком йода в организме, а уж в Японии его всегда был переизбыток,
                    морские водоросли в ежедневном рационе, морской воздух, насыщенный йодам, что же может быть не так?
                    Оказалось, при наличии генетической обусловленности лишний йод провоцирует воспаление в щитовидной железе.
                    Поэтому если у вас стоит это диагноз, йод лучше убрать вообще, не только из питания. Не мазать им раны,
                    не делать йодных сеток, не полоскать горло.</p>
            </div>
            <div class="col-md-3">
                <img src="static/pic/iod.jpg" alt="iod" width="250">
            </div>
        </div>

        <div class="row">
            <p>----------------------------------------------------------------------------------------------------------------</p>
            <div class="col-md-4">
                <img src="static/pic/sweets.jpg" alt="sweets" width="250">
            </div>
            <div class="col-md-8">
                <p align="justify" class="mb-0"><b>2</b> Провокаторы воспаления: сладости, рафинированные продукты,
                    магазинные выпечка и кондитерские изделия, жареное и копчености.</p>
            </div>
        </div>

        <div class="row">
            <p>----------------------------------------------------------------------------------------------------------------</p>
            <div class="col-md-9">
                <p align="justify" class="mb-0"><b>3</b> Глютен. По молекулярному строению глютен схож с тканями
                    щитовидной железы, и его попадание в организм может вызывать усиленную выработку антител. Может и не
                    вызвать. Только убрав его из рациона, вы сможете сказать, стали ли вы чувствовать себя лучше. </p>
            </div>
            <div class="col-md-3">
                <img src="static/pic/gluten.jpg" alt="gluten" width="250">
            </div>
        </div>
        <div class="row">
            <p>----------------------------------------------------------------------------------------------------------------</p>
            <div class="col-md-4">
                <img src="static/pic/capusta.jpg" alt="capusta" width="250">
            </div>
            <div class="col-md-8">
                <p align="justify" class="mb-0"><b>4</b> Крестоцветные: белокочанная и цветная капуста, брокколи и т.д.
                    считаются зобогенными продуктами, но только свежие. При термической обработке вещества, провоцирующие
                    рост зоба, в этих овощах разрушаются. </p>
            </div>
        </div>
        <div class="row">
            <p>----------------------------------------------------------------------------------------------------------------</p>
            <div class="col-md-9">
                <p align="justify" class="mb-0"><b>5</b> Продукты на основе сои и арахиса — их частое употребление
                    вызывает нарушение  всасывания    левотироксина.</p>
            </div>
            <div class="col-md-3">
                <img src="static/pic/arahis.jpg" alt="arahis" width="250">
            </div>
        </div>
    </div>
{% endblock %}