{% extends 'base.html' %}

{% block title %}Что включить в рацион{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Что включить в рацион</h1>
        <div class="row">
            <div class="col-md-9">
                <p align="justify" class="mb-0"><b>1</b> Селен (бразильские орехи, семена подсолнечника, перень, мясо, рыба).
 Исследования показывают, что прием 200 мкг селена в день может помочь снизить уровень антител к антитироидной пероксидазе (ТПО)
                    — этот вид антител приводит к разрушению клеток щитовидной железы.
</p>
            </div>
            <div class="col-md-3">
                <img src="static/pic/brazilskij-oreh.jpg" alt="brazilskij-oreh" width="250">
            </div>
        </div>

        <div class="row">
            <p>----------------------------------------------------------------------------------------------------------------</p>
            <div class="col-md-4">
                <img src="static/pic/almond.jpg" alt="almond" width="250">
            </div>
            <div class="col-md-8">
                <p align="justify" class="mb-0"><b>2</b> Цинк (миндаль, бобы, печень, мясо). Цинк необходим для функции
                    щитовидной железы: прием отдельно или вместе с селеном  помогает при гипотиреозе — состоянии длительного
                    дефицита гормонов щитовидной железы.</p>
            </div>
        </div>

        <div class="row">
            <p>----------------------------------------------------------------------------------------------------------------</p>
            <div class="col-md-9">
                <p align="justify" class="mb-0"><b>3</b> Куркумин. Исследованиями с участием людей и животных доказано:
                    мощное противовоспалительное и антиоксидантное действие куркумина защищает щитовидную железу, а также
                    облегчает лечение аутоиммунных заболеваний.</p>
            </div>
            <div class="col-md-3">
                <img src="static/pic/curcumin.jpg" alt="curcumin" width="250">
            </div>
        </div>
        <div class="row">
            <p>----------------------------------------------------------------------------------------------------------------</p>
            <div class="col-md-4">
                <img src="static/pic/pechen.jpg" alt="pechen" width="250">
            </div>
            <div class="col-md-8">
                <p align="justify" class="mb-0"><b>4</b> Витамин D (печень трески, сливочное масло, яичный желток).
                    Практически у всех, кто болеет аутоиммунным тиреоидитом низкий уровень витамина D, — чем ниже уровень
                    витамина D, тем серьезнее симптомы заболевания. </p>
            </div>
        </div>
        <div class="row">
            <p>----------------------------------------------------------------------------------------------------------------</p>
            <div class="col-md-9">
                <p align="justify" class="mb-0"><b>5</b> Комплекс витаминов группы В (орехи и семечки, гречка, рыба,
                    мясо). Поскольку при болезни Хашимото также наблюдается низкий уровень B12, врачи рекомендуют принимать
                    витамины группы В.</p>
            </div>
            <div class="col-md-3">
                <img src="static/pic/grechka.jpg" alt="grechka" width="250">
            </div>
        </div>
        <div class="row">
            <p>----------------------------------------------------------------------------------------------------------------</p>
            <div class="col-md-4">
                <img src="static/pic/bananas.jpg" alt="bananas" width="250">
            </div>
            <div class="col-md-8">
                <p align="justify" class="mb-0"><b>6</b> Магний (орехи и семечки, какао-порошок, бананы, сухофрукты)
                    При низком уровне магния повышается уровень антител к щитовидной железе.</p>
            </div>
        </div>
        <div class="row">
            <p>----------------------------------------------------------------------------------------------------------------</p>
            <div class="col-md-9">
                <p align="justify" class="mb-0"><b>7</b> Железо (гречка, печень, красное мясо). Люди с болезнью
                    Хашимото более склонны к развитию анемии. </p>
            </div>
            <div class="col-md-3">
                <img src="static/pic/meat.jpg" alt="meat" width="250">
            </div>
            <p>----------------------------------------------------------------------------------------------------------------</p>
            <p align="justify" class="mb-0">Обязательно сдайте сначала анализы, чтобы быть уверенным в том, чего не хватает именно вашему организму.</p>
        </div>
    </div>
{% endblock %}