{% extends 'base.html' %}

{% block title %}Обеды{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Обеды</h1>
    </div>
    <div class="row">
        <a href="/lunches/zhi" class="button"><button class="image-buttonl_zh"> </button></a>
    </div>
    <div class="row">
        <a href="/lunches/uha" class="button"><button class="image-buttonl_uh"> </button></a>
    </div>
    <div class="row">
        <a href="/lunches/rassoln" class="button"><button class="image-buttonl_rs"> </button></a>
    </div>
    <div class="row">
        <a href="/lunches/kartofeln" class="button"><button class="image-buttonl_kf"> </button></a>
    </div>
    <div class="row">
        <a href="/lunches/grib" class="button"><button class="image-buttonl_gr"> </button></a>
    </div>
    <div class="row">
        <a href="/lunches/goroh" class="button"><button class="image-buttonl_gh"> </button></a>
    </div>
    <div class="row">
        <a href="/lunches/frikad" class="button"><button class="image-buttonl_fr"> </button></a>
    </div>
{% endblock %}