{% extends 'base.html' %}

{% block title %}Меню на неделю{% endblock %}

{% block content %}

    <div class="container my-6">
        <h1 class="text-center mb-4" style="font-family: 'Impact';">Меню</h1>
        <h3 class="text-center mb-4" style="font-family: 'Gabriola';">на неделю</h3>
    </div>

    <h2 style="font-family: 'Impact';">День 1</h2>
    <div class="row">
            <div class="row">
                <a href="/breakfasts/buckwheat-porridge" class="button"><button class="image-buttonb_bp"> </button></a>
            </div>
            <div class="row">
                <a href="/lunches/frikad" class="button"><button class="image-buttonl_fr"> </button></a>
            </div>
            <div class="row">
                <a href="/dinners/cabbage" class="button"><button class="image-buttond_cb"> </button></a>
            </div>
            <div class="row">
                <a href="/desserts/porr-cake" class="button"><button class="image-buttondes_pc"> </button></a>
            </div>
        </div>


    <h2 style="font-family: 'Impact';">День 2</h2>
    <div class="row">
            <div class="row">
                <a href="/breakfasts/cornporridge" class="button"><button class="image-buttonb_cp"> </button></a>
            </div>
            <div class="row">
                <a href="/lunches/zhi" class="button"><button class="image-buttonl_zh"> </button></a>
            </div>
            <div class="row">
                <a href="/dinners/fish" class="button"><button class="image-buttond_fs"> </button></a>
            </div>
            <div class="row">
                <a href="/desserts/applepie" class="button"><button class="image-buttondes_ap"> </button></a>
            </div>
        </div>


    <h2 style="font-family: 'Impact';">День 3</h2>
    <div class="row">
            <div class="row">
                <a href="/breakfasts/cottage-cheese" class="button"><button class="image-buttonb_cc"> </button></a>
            </div>
            <div class="row">
                <a href="/lunches/goroh" class="button"><button class="image-buttonl_gr"> </button></a>
            </div>
            <div class="row">
                <a href="/dinners/chicken" class="button"><button class="image-buttond_ch"> </button></a>
            </div>
            <div class="row">
                <a href="/desserts/cornbiscuits" class="button"><button class="image-buttondes_cb"> </button></a>
            </div>
        </div>


    <h2 style="font-family: 'Impact';">День 4</h2>
    <div class="row">
            <div class="row">
                <a href="/breakfasts/fried-egg" class="button"><button class="image-buttonb_fe"> </button></a>
            </div>
            <div class="row">
                <a href="/lunches/grib" class="button"><button class="image-buttonl_gr"> </button></a>
            </div>
            <div class="row">
                <a href="/dinners/ezhiki" class="button"><button class="image-buttond_ez"> </button></a>
            </div>
            <div class="row">
                <a href="/desserts/cookies" class="button"><button class="image-buttondes_cs"> </button></a>
            </div>
        </div>


    <h2 style="font-family: 'Impact';">День 5</h2>
    <div class="row">
            <div class="row">
                <a href="/breakfasts/porrige" class="button"><button class="image-buttonb_pr"> </button></a>
            </div>
            <div class="row">
                <a href="/lunches/kartofeln" class="button"><button class="image-buttonl_kf"> </button></a>
            </div>
            <div class="row">
                <a href="/dinners/meatballs" class="button"><button class="image-buttond_mb"> </button></a>
            </div>
            <div class="row">
                <a href="/desserts/pizza" class="button"><button class="image-buttondes_pz"> </button></a>
            </div>
        </div>


    <h2 style="font-family: 'Impact';">День 6</h2>
    <div class="row">
            <div class="row">
                <a href="/breakfasts/cottage-cheese-pancakes" class="button"><button class="image-buttonb_ccp"> </button></a>
            </div>
            <div class="row">
                <a href="/lunches/uha" class="button"><button class="image-buttonl_uh"> </button></a>
            </div>
            <div class="row">
                <a href="/dinners/plov" class="button"><button class="image-buttond_pl"> </button></a>
            </div>
            <div class="row">
                <a href="/desserts/healthy-conf" class="button"><button class="image-buttondes_cf"> </button></a>
            </div>
        </div>


    <h2 style="font-family: 'Impact';">День 7</h2>
    <div class="row">
            <div class="row">
                <a href="/breakfasts/buckwheat-pumpkin" class="button"><button class="image-buttonb_pm"> </button></a>
            </div>
            <div class="row">
                <a href="/lunches/rassoln" class="button"><button class="image-buttonl_rs"> </button></a>
            </div>
            <div class="row">
                <a href="/dinners/vegetables" class="button"><button class="image-buttond_vg"> </button></a>
            </div>
            <div class="row">
                <a href="/desserts/pancakes" class="button"><button class="image-buttondes_pn"> </button></a>
            </div>
        </div>


{% endblock %}