{% extends 'base.html' %}

{% block title %}Суп с фрикадельками{% endblock %}

{% block content %}
    <h2 align="center">Суп с фрикадельками</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/lunches/pics/frikad.jpg" alt="frikad" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Мясной фарш;</p>
            <p class="mb-0">• картофель;</p>
            <p class="mb-0">• морковь;</p>
            <p class="mb-0">• лук;</p>
            <p class="mb-0">• соль;</p>
            <p class="mb-0">• лавровый лист.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Фарш посолить, добавить к нему терты чеснок, скатать мясные шарики и положить их в кипящую воду. <br>
            <b>2</b> Когда фрикадельки всплывут, добавить нарезанный кубиками картофель. Оставить варить на медленном огне. <br>
            <b>3</b> Порезать лук, слегка поджарить его на сковороде до золотистого цвета, добавить к луку тертую морковь, потушить. <br>
            <b>4</b> Выложить поджарку в суп, положить лавровый лист, посолить. Варить до готовности. <br>
        </p>
    </div>
{% endblock %}