{% extends 'base.html' %}

{% block title %}Гороховый суп{% endblock %}

{% block content %}
    <h2 align="center">Гороховый суп</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/lunches/pics/goroh.jpg" alt="goroh" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Бульон;</p>
            <p class="mb-0">• порезанный кубиками картофель;</p>
            <p class="mb-0">• горох;</p>
            <p class="mb-0">• морковь;</p>
            <p class="mb-0">• лук;</p>
            <p class="mb-0">• соль;</p>
            <p class="mb-0">• лавровый лист.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Сначала нужно сварить гороховую кашу. Быстрее всего она получается в мультиварке на режиме каша.  <br>
            <b>2</b> Пока горох варится, порезать лук, слегка поджарить его на сковороде до золотистого цвета, добавить к луку тертую морковь, потушить. <br>
            <b>3</b> В кипящий бульон положить нарезанный кубиками картофель, сваренный горох, поджарку из лука и моркови, лавровый лист и тертый чеснок, посолить. Варить до готовности.<br>
        </p>
    </div>
{% endblock %}