{% extends 'base.html' %}

{% block title %}Грибной суп{% endblock %}

{% block content %}
    <h2 align="center">Грибной суп</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/lunches/pics/grib.jpg" alt="grib" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Шампиньоны;</p>
            <p class="mb-0">• картофель;</p>
            <p class="mb-0">• лук;</p>
            <p class="mb-0">• соль;</p>
            <p class="mb-0">• лавровый лист.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Порезать лук, пожарить его на сковороде до золотистого цвета. Добавить порезанные
            шампиньоны, поджарить их с луком, немного посолить.  <br>
            <b>2</b> В кипящую воду положить нарезанный кубиками картофель, жаренные грибы, лавровый лист, посолить. Варить до готовности. <br>
        </p>
    </div>
{% endblock %}