{% extends 'base.html' %}

{% block title %}Рассольник{% endblock %}

{% block content %}
    <h2 align="center">Рассольник</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/lunches/pics/rassoln.jpg" alt="rassoln" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Бульон;</p>
            <p class="mb-0">• порезанный кубиками картофель;</p>
            <p class="mb-0">• порезанные соленые огурцы;</p>
            <p class="mb-0">• морковь;</p>
            <p class="mb-0">• лук;</p>
            <p class="mb-0">• рис;</p>
            <p class="mb-0">• соль;</p>
            <p class="mb-0">• лавровый лист.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> В кипящий бульон положить нарезанный кубиками картофель.  <br>
            <b>2</b> Пока он варится, порезать лук, слегка поджарить его на сковороде до золотистого цвета, добавить к луку тертую морковь, потушить. <br>
            <b>3</b> Когда поджарка будет готова, положить ее в кастрюлю к картофелю, добавить  порезанные соленые огурцы,  немного промытого риса, лавровый лист и тертый чеснок, посолить. Варить до готовности.<br>
        </p>
    </div>
{% endblock %}