{% extends 'base.html' %}

{% block title %}Суп из горбуши{% endblock %}

{% block content %}
    <h2 align="center">Суп из горбуши</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/lunches/pics/uha.jpg" alt="uha" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Почищенная и потрошеная горбуша;</p>
            <p class="mb-0">• картофель;</p>
            <p class="mb-0">• лук;</p>
            <p class="mb-0">• соль;</p>
            <p class="mb-0">• лавровый лист.</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> Отварить горбушу, добавив в бульон целую луковицу.   <br>
            <b>2</b> Когда рыба сварится, достать из кастрюли, остудить, вынуть все кости и сложить филе обратно.  <br>
            <b>3</b> Добавить нарезанный кубиками картофель, когда картофель сварится, положить лавровый лист, посолить. Варить до готовности. <br>
        </p>
    </div>
{% endblock %}