{% extends 'base.html' %}

{% block title %}Щи{% endblock %}

{% block content %}
    <h2 align="center">Щи</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="../static/pic/food/lunches/pics/zhi.jpg" alt="zhi" width="260">
        </div>
        <div class="col-md-8">
            <p class="mb-0"><b>Ингредиенты</b></p>
            <p class="mb-0">• Говяжий бульон;</p>
            <p class="mb-0">• капуста;</p>
            <p class="mb-0">• картофель;</p>
            <p class="mb-0">• морковь;</p>
            <p class="mb-0">• лук;</p>
            <p class="mb-0">• лавровый лист;</p>
            <p class="mb-0">• соль;</p>
            <p class="mb-0">• чеснок;</p>
            <p class="mb-0">• томатная паста;</p>
        </div>
    </div>
    <div class="row mt-5">
        <p class="mb-0"><b>Приготовление</b></p>
        <p class="mb-0"><b>1</b> В кипящий бульон положить  нашинкованную капусту, следом добавить нарезанный кубиками картофель. <br>
            <b>2</b> Пока овощи варятся, порезать лук, слегка поджарить его на сковороде до золотистого цвета, добавить
            к луку тертую морковь, потушить, добавить в поджарку томатную пасту. <br>
            <b>3</b> Когда поджарка будет готова, положить ее в кастрюлю к овощам, добавить лавровый лист и тертый чеснок, посолить. Варить до готовности.<br>
        </p>
    </div>
{% endblock %}